body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #5d5c61;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}

a {
    color: #008cba;
    text-decoration: none;
}
